{% extends 'base.html.twig' %}
{% block Main %}
    <div class="ads-grid">
        <div class="col-md-1"></div>
        <div class="agileinfo-ads-display col-md-9">
            <div class="wrapper">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                            <div>
                                <div id="container">
                                    <div class="view-controls-list" id="viewcontrols">
                                        <label>view :</label>
                                        <a class="gridview"><i class="glyphicon glyphicon-th"></i></a>
                                        <a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
                                    </div>
                                    <div class="sort">
                                        <div class="sort-by">
                                            <label>Sort By : </label>
                                            <select>
                                                <option value="">Most recent</option>
                                                <option value="">Price: Rs Low to High</option>
                                                <option value="">Price: Rs High to Low</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <ul class="list">
                                        {% for annonce in annonces %}
                                        <a href="{{ path('annonce_single', {'idAnnonce':annonce.idAnnonce}) }}">
                                            <li>


                                                <img src="{% if annonce.iditems.imgiems %}{{ asset('upload/' ~ annonce.iditems.imgiems) }}{% endif %}" title="" alt="" />
                                                <section class="list-left">
                                                    <h5 class="title">{{ annonce.titreAnnonce }}</h5>
                                                    <span class="adprice">${{ annonce.prix }}</span>
                                                    <p class="catpath">{{ annonce.iditems.idsouscat.idCat.nomcat }} >> {{ annonce.iditems.idsouscat.Nomsouscat }}</p>
                                                    <p class="catpath"></p>
                                                </section>
                                                <section class="list-right">
                                                    <span class="date"><i class="fa fa-calendar"></i> {% if annonce.date %}{{ annonce.date|date('Y-m-d') }}{% endif %}</span>
                                                    <span class="cityname"><i class="fa fa-map-marker"></i> {{ annonce.adresse }}</span>
                                                </section>
                                                <div class="clearfix" style="margin-bottom: 30px"></div>
                                            </li>
                                        </a>
                                            {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
    </div>
{% endblock %}