
{% block comment %}


    <hr>
    <h1><strong>Comments</strong></h1>
    <br>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <h3 id="addcmt">Add a comment</h3>
    <br>
    {% if form %}
        {{ form_start(form ) }}
        <div id="id" class="form-group">
            {{ form_errors(form.commentaire) }}
            {{ form_widget(form.commentaire, { 'attr':  {
                'rows': '4',
                'class': 'form-control',
                'placeholder': 'Enter your comment'
            }}) }}

            <input id="btn" type="submit" value="Publish Comment">
            <label  id="text" type="text" name="alert"></label>


            <script src="{{ asset('js/js/jquery.js') }}"></script>
            <script>
                var editor = CKEDITOR.replace( 'textarea' );
                alert( editor.elementMode );

                $('.cke_editable cke_editable_themed cke_contents_ltr cke_show_borders').mouseenter(function() {
                        var ch1 = $('.cke_editable cke_editable_themed cke_contents_ltr cke_show_borders').val();
                        console.log( ch1);

/*
                        var n = ch1.indexOf('{');
                        if (n != -1)
                        {
                            $('#text').val('Attention');
                            $('#btn').hide();
                        }
                        else{$('#text').val('');
                            $('#btn').show();
                        }*/

                    }
                );
            </script>


        </div>
        {{ form_end(form) }}
    {% endif %}
    {% endif %}

    <br>
    <div>
    {% if commentaires %}
        {% for comment in commentaires %}
            <hr>
            <strong>{{ comment.idUser.username }}</strong> said : {{ comment.commentaire |striptags }}<br>  {{ comment.dateCommentaire|date }} <br>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


                {% if app.user.username==comment.idUser.username %}
                    <a href="{{ path ('delete_commentaire',{'idCommentaire':comment.idCommentaire}) }}" style="color: #00a5f7"> <strong>Delete</strong></a><br>

                    <a href="{{ path ('update_commentaire',{'idCommentaire':comment.idCommentaire}) }}" style="color: #00a5f7"><strong>Update</strong></a>



                {% else %}
                    <a href="{{ path ('signaler_commentaire',{'idCommentaire':comment.idCommentaire}) }}" style="color: red"><strong>Report</strong></a>
                {% endif %}
            {% endif %}

        {% else %}
            No comments yet.
        {% endfor %}
    {% endif %}



     </div>
       {% endblock %}

