{% extends 'base.html.twig' %}

{% block body %}
    <h1>Opinions list</h1>

    <table>
        <thead>
            <tr>
                <th>Idop</th>
                <th>Contenu</th>
                <th>Note</th>
                <th>Iduser</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for opinion in opinions %}
            <tr>
                <td><a href="{{ path('opinion_show', { 'idOp': opinion.idOp }) }}">{{ opinion.idOp }}</a></td>
                <td>{{ opinion.contenu }}</td>
                <td>{{ opinion.note }}</td>
                <td>{{ opinion.idUser }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('opinion_show', { 'idOp': opinion.idOp }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('opinion_edit', { 'idOp': opinion.idOp }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('opinion_new') }}">Create a new opinion</a>
        </li>
    </ul>
{% endblock %}
