{% extends 'base.html.twig' %}

{% block Main %}


    <div class="feedback main-grid-border">
        <div class="container">
            <h2 class="w3-head">Feedback</h2>
            <div class="feed-back">
                <h3>Tell us what you think of us</h3>

                <div class="feed-back-form">

                    {% block add %}
                    <div class="col-md-7">
                    <h3 >Donner nous votre avis et n'oublier pas de nous noter ! </h3>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input id ="rating" type="number" name="note"  required hidden>
                        <input class="col-md-3"type="submit" value="Confirmer" id="send">
                        <div class="col-md-6">
                            <label id ="err"  style="color: red;size: 10px" hidden>Don't forget to rate us ! </label>
                            {% include"@Troc/Opinion/rating.html.twig" %}
                        </div>
                        <script>
                            $('#send').click(function(){
                                if($('#rating').val()=="")
                                    $('#err').show();
                            });
                            $('.star').click(function (){
                                $('#err').hide();
                            });
                        </script>
                            {{ form_end(form) }}
                    </div>
                    <div>
                        <a href="{{ path('opinion_aff') }}">
                            <h2 style="color:cornflowerblue;text-decoration: underline" >See What others thinks of us !</h2>
                        </a></div>

                             </div>
                <br><hr><br><br>
                            <div class="col-md-5">
                            {{ render(controller('TrocBundle:Opinion:NbreNote')) }}
                        </div>


                    {% endblock %}
                </div>
                </div>
                        </div>
                </div>

                </div>

                </div>


{% endblock %}
