{% extends "base.html.twig" %}

{% block Main %}
    <h1>My Products</h1>
    <center>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
                <th scope="col">Address</th>
                <th scope="col">Description</th>
                <th scope="col">Name Of The Item</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for a in annonces %}
            <tr>
                {% if a.idAnnonce != id %}
                    <th scope="row">{{ a.titreAnnonce }}</th>
                    <th scope="row">{{ a.prix }} DT</th>
                    <th scope="row">{{ a.date | date }}</th>
                    <th scope="row"> {{ a.adresse }} </th>
                    <th scope="row">{{ a.description }} </th>
                    <th scope="row">{{ a.iditems.nomitems }}</th>
                    <th scope="row">
                        <a href="{{ path('valider_troc_annonce',{'idA1':a.idAnnonce,'idA2':id}) }}" >
                            <button type="button" class="btn btn-success">Troc</button>
                        </a>
                    </th>
                {% endif %}
            </tr>
            </tbody>
            {% endfor %}
        </table>

    </center>
{% endblock %}