{% extends "base.html.twig" %}


{% block Main %}
    <h1>Pannier Actuel</h1>
    <center>

        <table class="table">


                    <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Date Commande</th>
                        <th scope="col">Client</th>
                        <th scope="col">Delivery</th>
                        <th scope="col">Product Given</th>
                        <th scope="col">Annonce Taken</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for m in commandesE %}
                    <tr>
                        <th scope="row">Exchange</th>
                        <th scope="row">{{ m.dateCommande | date }}</th>
                        <th scope="row">{{ m.idClient.usernom }} {{ m.idClient.userprenom }}</th>
                        <th scope="row">{% if m.livraison == 1 %}
                                Asked
                            {% else %}
                                Not Asked
                            {% endif %}
                        </th>
                        <th>
                            <a href="{{ path('affiche_annonce',{'id':m.idAnnonce1.idAnnonce}) }}" style="color: grey">{{ m.idAnnonce1.titreAnnonce }}</a>
                        </th>
                        <th>
                            <a href="{{ path('affiche_annonce',{'id':m.idAnnonce2.idAnnonce}) }}" style="color: grey">{{ m.idAnnonce2.titreAnnonce }}</a>
                        </th>
                        <th scope="row">
                            <a href="{{ path('update_commande',{'id':m.idCommande}) }}"><button type="button" class="btn btn-success"> Details</button></a>
                            <a href="{{ path('delete_commande',{'id':m.idCommande}) }}"><button type="button" class="btn btn-danger"><i class="fa f a-remove"></i>  Delete</button></a>
                        </th>
                    </tr>
                    {% endfor %}
                    </tbody>

            <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Date Commande</th>
                <th scope="col">Client</th>
                <th scope="col">Price</th>
                <th scope="col">Delivery</th>
                <th scope="col">Payed</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for m in commandesS %}

                    <tr>
                        <th scope="row">Selling</th>
                        <th scope="row">{{ m.dateCommande | date }}</th>
                        <th scope="row">{{ m.idClient.usernom}} {{ m.idClient.userprenom }}</th>
                        <th scope="row">{{ m.montant }} DT</th>
                        <th scope="row"> {% if m.livraison == 1 %}
                                Asked
                            {% else %}
                                Not Asked
                            {% endif %}
                        </th>
                        <th scope="row">{% if m.paye ==1 %}
                                Payed
                            {% else %}
                                Not Payed
                            {% endif %}
                        </th>
                        <th scope="row">
                            <a href="{{ path('update_commande',{'id':m.idCommande}) }}"><button type="button" class="btn btn-success  "><i class=""></i> Details</button></a>
                            <a href="{{ path('imprimer_facture',{'id':m.idCommande}) }}"><button type="button" class="btn btn-success"> Print</button></a>
                            <a href="{{ path('delete_commande',{'id':m.idCommande}) }}"><button type="button" class="btn btn-danger "><i class="fa fa-remove"></i> Delete</button></a>
                        </th>
                    </tr>


            {% endfor %}
            </tbody>
        </table>

    </center>
{% endblock %}


