{% extends "base.html.twig" %}

{% block Main %}
    <h1>Payment de la commande</h1>
    <div class="row">
        <div class="col-8">
            <h2>Options</h2>
            <form>

                <div class="btn-group-toggle" data-toggle="buttons">Choix de livraison :
                    <label class="btn btn-info">
                        <input type="radio" name="livraison1" id="livraison1" autocomplete="off"> Oui
                    </label>
                    <label class="btn btn-info">
                        <input type="radio" name="livraison2" id="livraison2" autocomplete="off"> Non
                    </label>
                </div>

                <p>Montant de la commande sans livraison : {{ commande.montant }}</p>
                <p>Frais de livraison 8 Dt</p>
                <p>Montant de la commande avec livraison : {{ commande.montant+8 }}</p>


                <div class="btn-group-toggle" data-toggle="buttons">Mode de Paiement :
                    <label class="btn btn-info">
                        <input type="radio" name="payment1" id="payment1" autocomplete="off"> Paiement à la livraison
                    </label>
                    <label class="btn btn-info">
                        <input type="radio" name="payment2" id="payment2" autocomplete="off"> Paiement en ligne
                    </label>
                </div>

                <a href="{{ path('read_commande') }}"><button type="submit" class="btn btn-outline-success">Valider</button></a>

            </form>
        </div>
        <div class="col-4">
            <h2>Pannier</h2>
            {% if annonces %}
            {% for a in annonces %}
                <div>
                    <a href="{{ path('affiche_annonce',{'id':a.idAnnonce}) }}">{{ a.TitreAnnonce }}</a>
                    <img src="{{ asset('images/'~ a.idAnnonce ~'.jpg') }}" style="width: 50px;height: 50px">
                </div>
            {% endfor %}
            {% else %}
                <p>Pannier Vide</p>
            {% endif %}
            <a href="{{ path('read_commande') }}"><button type="button" class="btn btn-outline-success">Retour</button></a>
        </div>
    </div>
{% endblock %}
