{% extends 'base.html.twig' %}
{% block title %} Participants {% endblock %}
{% block Main %}
    <div class="container">
        <div class="row">
            <div class="col-md-1" style="margin-top: 50px; margin-left: -200px;"></div>
            <div class="col-md-10">
                <hr>
                {% for event in events %}
                    <h1> {{ event.titre }}</h1>&emsp;
                    <p style="color: blueviolet;">{{ event.location }}</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            {#<th scope="col">Actions</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for participant in participants %}
                            {% for user in users %}
                                {% if (participant.idEvent.id== event.id) and (user.id == participant.idUser) %}

                                    <tr>
                                        <td style="font-size:large">{{ user.id }}</td>
                                        <td style="font-size:large">{{ user.username }}</td>
                                        <td style="font-size:large">{{ user.email }}</td>
                                    </tr>

                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <hr>
                {% endfor %}
                {#<a type="button" class="btn btn-info" style="width: 200px" href="{{ path('participant_new') }}">Create a new participant</a>#}
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}