{% extends '@Troc/Default/admin.html.twig' %}

    {% block Content_Wrapper %}
    <div class="content-wrapper" style=" min-height: 1500px;min-width:10%; max-width:80% ;max-height: 2000px ;margin-top:2%;margin-bottom: 3%  ; background-color:  #1F2739">

        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
            <style type="text/css" media="screen">
                body {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                    line-height: 1.42em;
                    color:#A7A1AE;
                    background-color:#1F2739;
                }

                h1 {
                    font-size:3em;
                    font-weight: 300;
                    line-height:1em;
                    text-align: center;
                    color: #4DC3FA;
                }

                h2 {
                    font-size:1em;
                    font-weight: 300;
                    text-align: center;
                    display: block;
                    line-height:1em;
                    padding-bottom: 2em;
                    color: #FB667A;
                }

                h2 a {
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #FB667A;
                    text-decoration: none;
                }

                .blue { color: #185875; }
                .yellow { color: #FFF842; }

                .container th h1 {
                    font-weight: bold;
                    font-size: 1em;
                    text-align: left;
                    color: #185875;
                }

                .container td {
                    font-weight: normal;
                    font-size: 1em;
                    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
                    -moz-box-shadow: 0 2px 2px -2px #0E1119;
                    box-shadow: 0 2px 2px -2px #0E1119;
                }

                .container {
                    text-align: left;
                    overflow: hidden;
                    width: 98%;
                    margin: 0 auto;
                    display: table;
                    padding: 0 0 8em 0;
                }

                .container td, .container th {
                    padding-bottom: 1%;
                    padding-top: 1%;
                    padding-left:1%;
                }

                /* Background-color of the odd rows */
                .container tr:nth-child(odd) {
                    background-color: #323C50;
                }

                /* Background-color of the even rows */
                .container tr:nth-child(even) {
                    background-color: #2C3446;
                }

                .container th {
                    background-color: #1F2739;
                }

                .container td:first-child { color: #FB667A; }

                .container tr:hover {
                    background-color: #464A52;
                    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
                    -moz-box-shadow: 0 6px 6px -6px #0E1119;
                    box-shadow: 0 6px 6px -6px #0E1119;
                }

                .container td:hover {
                    background-color: #FFF842;
                    color: #403E10;
                    font-weight: bold;

                    box-shadow: #7F7C21 -1px 1px, #7F7C21 2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
                    transform: translate3d(6px, -6px, 0);

                    transition-delay: 0s;
                    transition-duration: 0.4s;
                    transition-property: all;

                }

                @media (max-width: 800px) {
                    .container td:nth-child(4),
                    .container th:nth-child(4) { display: none; }
                }


            </style>

            <h1><span class="yellow">Order List</span></h1>
            <br><br>
                <table class="container"  >
                    <tr>
                        <td><h5>Client First Name</h5></td>
                        <td><h5>Client Name</h5></td>
                        <td><h5>Client Address</h5></td>
                        <td><h5>Client Phone N°</h5></td>
                        <td><h5>Registration Date</h5></td>
                        <td><h5>Delivery Status</h5></td>
                        <td><h5>Shipping Cost</h5></td>
                        <td><h5>Cancel Delivery</h5></td>
                        <td><h5>Update Delivery</h5></td>
                        <td><h5>Delete Delivery</h5></td>
                        <td><h5>Register Delivery</h5></td>
                    </tr>
                    {% for i in 0..nbr %}
                    <tr>

                        {% if(liste3[i].etatlivraison==1) %}
                            <tr style="background-color: #4d9200">
                            <td> {{ liste1[i].userprenom }}</td>
                            <td>{{liste1[i].usernom }}</td>
                            <td>  {{ liste3[i].adresselivraison}}</td>
                            <td>  {{ liste1[i].userphone}}</td>
                            <td>  {{ liste3[i].dateenregistrement |date("d/m/Y")}}</td>
                            <td style="color: black" >Order Canceled !!</td>
                            <td> {{ liste3[i].fraislivraison }}</td>
                            <td style="color: black" >Order Canceled !!</td>
                        {% endif %}
                        {% if(liste3[i].etatlivraison==0) %}
                            <tr style="background-color: #2B81AF">
                            <td> {{ liste1[i].userprenom }}</td>
                            <td>{{liste1[i].usernom }}</td>
                            <td>  {{ liste3[i].adresselivraison}}</td>
                            <td>  {{ liste1[i].userphone}}</td>
                            <td>  {{ liste3[i].dateenregistrement |date("d/m/Y")}}</td>
                                {% if(liste3[i].livraisonrecue==0) %}
                                    <td style="color: black">Not delivered yet !</td>
                                    <td> {{ liste3[i].fraislivraison }}</td>

                                    <td><a href="{{ path('LivraisonValide',{'idLivraison':liste3[i].idlivraison}) }}">Save</a></td>
                                {% endif %}
                                {% if(liste3[i].livraisonrecue!=0) %}
                                    <td style="color: black">Order Delivered !</td>
                                    <td> {{ liste3[i].fraislivraison }}</td>
                                    <td style="color: black">Order Delivered !</td>
                                {% endif %}
                        {% endif %}
                      </tr>
                    {% endfor %}
                    </table>
                         <br><br><br>
            <h1><span class="yellow">AlloCoursier List</span></h1>
            <br><br>
                <table class="container"  >
                    <tr>
                        <td><h5>Client First Name</h5></td>
                        <td><h5>Client Name</h5></td>
                        <td><h5>Client Address</h5></td>
                        <td><h5>Client Phone N°</h5></td>
                        <td><h5>Registration Date</h5></td>
                        <td><h5>Delivery Status</h5></td>
                        <td><h5>Address to Deliver</h5></td>
                        <td><h5>Description</h5></td>
                        <td><h5>Shipping Cost</h5></td>
                        <td><h5>Register Delivery</h5></td>
                    </tr>
                    {% for i in 0..nb %}
                    <tr>

                        {% if(liste7[i].etatlivraison==1) %}
                            <tr style="background-color: #dd0908">
                            <td> {{ liste5[i].userprenom }}</td>
                            <td>{{liste5[i].usernom }}</td>
                            <td>  {{ liste7[i].adresselivraison}}</td>
                            <td>  {{ liste5[i].userphone}}</td>
                            <td>  {{ liste7[i].dateenregistrement |date("d/m/Y")}}</td>
                            <td style="color: black"> Order Canceled !!</td>
                            <td> {{ liste8[i].adresselivraison }}</td>
                            <td> {{ liste8[i].description }}</td>
                            <td> {{ liste7[i].fraislivraison }}</td>
                            <td style="color: black" >Order Canceled !!</td>
                        {% endif %}
                        {% if(liste7[i].etatlivraison==0) %}
                            <tr style="background-color: #2B81AF">
                            <td> {{ liste5[i].userprenom }}</td>
                            <td>{{liste5[i].usernom }}</td>
                            <td>  {{ liste7[i].adresselivraison}}</td>
                            <td>  {{ liste5[i].userphone}}</td>

                            <td>  {{ liste7[i].dateenregistrement |date("d/m/Y")}}</td>
                                {% if(liste7[i].livraisonrecue==0) %}
                                    <td style="color: black">Not delivered yet !</td>
                                    <td> {{ liste8[i].adresselivraison }}</td>
                                    <td> {{ liste8[i].description }}</td>
                                    <td> {{ liste7[i].fraislivraison }}</td>
                                    <td><a href="{{ path('LivraisonValide',{'idLivraison':liste7[i].idlivraison}) }}">Save</a></td>
                                {% endif %}
                                {% if(liste7[i].livraisonrecue!=0) %}
                                    <td style="color: black"> Order Delivered !</td>
                                    <td> {{ liste8[i].adresselivraison }}</td>
                                    <td> {{ liste8[i].description }}</td>
                                    <td> {{ liste7[i].fraislivraison }}</td>
                                    <td style="color: black"> Order Delivered !</td>
                                {% endif %}

                        {% endif %}
                      </tr>
                    {% endfor %}
                    </table>
            <br><br><br>
        </section></div>
      {% endblock %}








