{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reclamations list</h1>

    <table>
        <thead>
            <tr>
                <th>Idrec</th>
                <th>Description</th>
                <th>Date</th>
                <th>Etatreclamation</th>
                <th>Idannonce</th>
                <th>Idruser</th>
                <th>Typereclamation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td><a href="{{ path('reclamation_show', { 'idRec': reclamation.idRec }) }}">{{ reclamation.idRec }}</a></td>
                <td>{{ reclamation.description }}</td>
                <td>{% if reclamation.date %}{{ reclamation.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ reclamation.etatReclamation }}</td>
                <td>{{ reclamation.idAnnonce }}</td>
                <td>{{ reclamation.idRuser }}</td>
                <td>{{ reclamation.typeReclamation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reclamation_show', { 'idRec': reclamation.idRec }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reclamation_edit', { 'idRec': reclamation.idRec }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reclamation_new') }}">Create a new reclamation</a>
        </li>
    </ul>
{% endblock %}
