{% extends 'base.html.twig' %}



{% block titre %} Update Item {% endblock %}
{% block Main %}
<div class="container">
    <div class="row" style="margin-top: 40px; margin-bottom: 50px">
        <div class="col-md-4">
            <a style="border-radius: 5px" class="btn btn-success" href="{{ path('items_homepage') }}"><i class="fa fa-caret-left"></i>&emsp;Back to the list</a>
        </div>
        <div class="col-md-4">
            <h1 style="margin-bottom: 40px; text-align: center"> Update this  Item </h1>

            {{ form_start(edit_form) }}
            <label style="margin-bottom: 10px;">Name</label>
            {{ form_widget(edit_form.nomitems, {'type' : 'text' , 'attr' : {'class': 'form-control', 'autofocus': 'true'}}) }}
            <div class="clearfix" style="margin-bottom: 10px"></div>
            <label id="nom_error" class="" style="background-color:red; color: #fff;display: none; margin: auto; padding: 5px 5px; width: 155px">Please enter a name</label>
            <div class="clearfix" style="margin-top: 20px;"></div>

            <div class="clearfix" style="margin-top: 20px;"></div>
            <label style="margin-bottom: 10px;">Under category</label>
            {{ form_widget(edit_form.idsouscat, {'type' : 'text' , 'attr' : {'class': 'form-control'}}) }}
            <div class="clearfix" style="margin-top: 20px;"></div>
            <input id="submit" style="display: block; margin: auto; background-color: #0099e5; border-radius: 4px" class="btn btn-warning" type="submit" value="Update" />
            <label id="sub_error" class="label-danger" style="display: none; margin: auto; padding: 5px 5px; width: 155px">Please check your data</label>

            {{ form_end(edit_form) }}

            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-success" value="Delete">
            {{ form_end(delete_form) }}

            <div class="col-md-4">

            </div>
        </div>
    </div>
    {% endblock %}
    {% block script %}
        <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
        <script>
            $('#itemsbundle_items_nomitems').blur(function(){
                var val = $('#itemsbundle_items_nomitems').val();

                if(val.length == 0)
                    $('#nom_error').css("display","block");
                else
                    $('#nom_error').css("display","none");
            });

            $('#submit').click(function(e) {
                if($('#nom_error').css("display") == "block")
                {
                    $('#sub_error').css("display","block");
                    e.preventDefault();
                }
                else
                    $('#sub_error').css("display","none");
            });
        </script>
    {% endblock %}
