{% extends 'base.html.twig' %}



{% block titre %} Modifier une annonce {% endblock %}
{% block Main %}
    <div class="container">
        <div class="row" style="margin-top: 40px; margin-bottom: 50px;">
            <div class="col-md-4">
                <a style="border-radius: 5px" class="btn btn-danger" href="{{ path('annonce_index') }}"><i class="fa fa-caret-left"></i>&emsp;Return list</a>
            </div>
            <div class="col-md-4">
                <h1 style="text-align: center; margin-bottom: 20px">Change an ad</h1>

                {{ form_start(edit_form) }}
                <label>Titre</label>
                {{ form_widget(edit_form.titreAnnonce, {'type' : 'text' , 'attr' : {'class': 'form-control'}}) }}

                <label>Prix</label>
                {{ form_widget(edit_form.prix, {'type' : 'number' , 'attr' : {'class': 'form-control'}}) }}

                <label>Type</label>
                {{ form_widget(edit_form.typeAnnonce, {'type' : 'text' , 'attr' : {'class': 'form-control'}}) }}

                <label>Etat</label>
                {{ form_widget(edit_form.etatAnnonce, {'type' : 'text' , 'attr' : {'class': 'form-control'}}) }}

                <label>Adresse</label>
                {{ form_widget(edit_form.adresse, {'type' : 'textarea' , 'attr' : {'class': 'form-control'}}) }}

                <label>Description</label>
                {{ form_widget(edit_form.description, {'type' : 'textarea' , 'attr' : {'class': 'form-control'}}) }}

                <label>Item</label>
                {{ form_widget(edit_form.iditems, {'type' : 'text' , 'attr' : {'class': 'form-control'}}) }}
                <div style="margin-top: 20px""></div>
            <input style="display: block; margin: auto; width: 100px;" class="btn btn-warning" type="submit" value="Modifier" />
            {{ form_end(edit_form) }}

            <div style="margin-top: 1px"></div>
            {{ form_start(delete_form) }}
            <input style="display: block; margin: auto; width: 100px; background-color: #ff4c4c; color: #fff;" class="btn"  type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
        <div class="col-md-4"></div>
    </div>
    </div>

{% endblock %}

